// Place all the styles related to the Runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


select.date-select {
    width:auto;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}